<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#000000">
    {% if title != "Home" %}
    <title>{{ renderData.title or title or metadata.title }} · LIVIDnet</title>
    <meta property="og:title" content="{{ renderData.title or title or metadata.title }} · LIVIDnet">
    {% else %}
    <title>LIVIDnet</title>
    <meta property="og:title" content="LIVIDnet">
    {% endif %}
    <meta name="description" content="{{ renderData.description or description or metadata.description }}">
    <meta name="og:description" content="{{ renderData.description or description or metadata.description }}">
    <meta name="og:site_name" content="{{ metadata.title }}">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="{{ metadata.author.handle }}">
    <meta name="twitter:creator" content"{{ metadata.author.handle }}">
    <meta name="article:author" content="{{ metadata.author.handle }}">
    <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
  </head>
  <body>
    <div class="container">
      <header>
        <h1 class="home"><a href="{{ '/' | url }}">{{ metadata.title }}</a></h1>

        {#- Read more about `eleventy-navigation` at https://github.com/11ty/eleventy-navigation #}
        {{ collections.all | eleventyNavigation | eleventyNavigationToHtml({
          listClass: "nav",
          listItemClass: "nav-item",
          activeListItemClass: "nav-item-active",
          activeKey: eleventyNavigation.key
        }) | safe }}
      </header>

      <main{% if templateClass %} class="{{ templateClass }}"{% endif %}>
        {{ content | safe }}
      </main>
    <footer>
      <ul class="nav">
        <li class="nav-item"><a href="/privacy">Privacy Policy</a></li>
        <li class="nav-item"><a href="mailto:hostmaster@livid.pw">Contact</a></li>
      </ul>
    </footer>
    </div>
    <!-- Current page: {{ page.url | url }} -->
  </body>
</html>
